@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-image: url("./bg.svg");
    background-size: cover;
}
.bg > .body {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .5));
}
.copy {
    background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25));
}
@layer components {
    .btn-primary {
      @apply bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded transition ease-in-out;
    }
}